body {
    background-color: #F0F0F0;
}

#wrapper {
    align-self: center;
    /*width: 810px;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#header {
    /*margin-top: -10px;
    margin-left: -0.5%;*/
    /*height: 105px;*/
    /*width: 800px;*/
    width: 100%;
    /*padding: 3px;*/
}

#logo {
    /*height: 100px;*/
    /*width: 795px;*/
    width: 100%;
}

#content {
    vertical-align: top;
    background-color: white;
    height: 500px;
}

#footer {
    height: 80px;
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

/*.note {
    margin-top: 50%;
}*/

.lblMessage {
    vertical-align: top;
    margin-top: 0;
}

.infolink {
    color: white;
    text-decoration: none;
}

/*.infolink:visited {
    color: purple;
}*/

.infolink:hover {
    color: aqua;
}
