body {
    background-color: #F0F0F0;
}

#wrapper {
    align-self: center;
    /*width: 810px;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    text-align: center;
    font-family: 'Comic Sans MS';
}

#image {
    height: 300px;
    width: 500px;
}

#footer {
    height: 80px;
    width: 100%;
    text-align: center;
    color: white;
}

.link {
    color: white;
    text-decoration: none;
}

/*.link:visited {
    color: purple;
}*/

.link:hover {
    color: aqua;
}
